// Prefix
@css-prefix: yoshino;


//Base

@line-height-base: 1.5;

// transition
@transition-quick: all .1s cubic-bezier(.645,.045,.355,1);
@transition-base: all .3s cubic-bezier(.645,.045,.355,1);
@transition-slow: all .5s cubic-bezier(.645,.045,.355,1);


// primary
@primary-color-number: 255,102,51;
@primary-color: rgb(255,102,51); // 主色调
@primary-color-choosed: tint(@primary-color, 90%);
@primary-color-active:rgb(250, 87, 33);
@primary-color-hover: rgb(240, 134, 99);

//font
@font-size-base: 14px;
@font-size-small: 12px;
@font-size-large: 16px;
@font-color-base: rgba(0,0,0,.65);

@font-weight-base: 500;

//border
@border-color-outline: #e3e8ee;
@border-color: #d9d9d9;
@border-radius-base: 2px;
@border-radius-large: 4px;

// background
@background-color: #fafafa;

// Shadow
@shadow-base: 0 2px 8px rgba(0,0,0,.15);

// color
@color-warning: #ffbf00;
@color-error: #f04134;
@color-success: #00a854;
@color-info: #108ee9;
@color-disabled: #b8b8b8;
@color-unactive: #e8e8e8;

//link
@link-color: #108ee9;




