// Prefix
@css-prefix: ikaros;


//Base

@line-height-base: 1.5;
@transition-base: all .3s cubic-bezier(.645,.045,.355,1);

//font
@font-size-base: 14px;
@font-size-small: 12px;
@font-size-large: 16px;
@font-color-base: rgba(0,0,0,.65);

//Border
@border-color-outline: #e3e8ee;


//Shadow
@shadow-card: 0 1px 1px 0 rgba(0, 0, 0, 0.1);


//Hover


//button
@button-border: 1px solid transparent;
@button-border-radius: 4px; 
@button-padding: 0 15px;

@button-border-color: #d9d9d9;

@button-danger-color: #f04134;
@button-danger-color-active: #d73435;

@button-primary-bg-color: #108ee9;
@button-primary-hover-bg-color: #49a9ee;
@button-primary-active-bg-color: #0e77ca;

@button-disabled-bg-color: #f7f7f7;
@button-height-size-base: 28px;
@button-height-size-small: 22px;
@button-height-size-large: 32px;


//link
@link-color: #108ee9;
