@import '../styles/var.less';
@cssPreCls: yoshino-breadcrumb;
.@{cssPreCls} {
  &-separator {
    margin: 0 8px;
  }


  span:last-child {
    span:last-child {
      display: none;
    }
  }
}

.@{cssPreCls}-item {
  
}